<div class="container loading-container">
  <img *ngIf="loading" class="spinner" src="../../assets/spinner.png">
</div>

<ng-container *ngIf="!loading">
  <ng-container *ngIf="hasNoData">
    No data found
  </ng-container>
  <ng-container *ngIf="!hasNoData && burns">
    <ng-container *ngFor="let burn of burns; let i = index">
      <hr *ngIf="i > 0" />
      <h1>{{burn.metaQuestionTitle}} <a class="perma-link" routerLink="/progress"
          [queryParams]="{metaQuestionId: burn.metaQuestionId}">
          <img src="../../assets/permalink.png">
        </a></h1>
      <p style="display: inline"><a href="{{burn.metaQuestionLink}}">View meta post</a></p>
      <ng-container *ngFor="let tag of burn.tags">
        <div class="container mt-3 mb-3">
          <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.tag}}">{{tag.tag}}</a></p>
          <p style="display: inline"> - {{tag.numberOfQuestions}} questions</p>
        </div>

        <h2>Tag Progress</h2>
        <app-question-count-graph [data]="tag.questionCountOverTime" [remainingOverTime]="tag.remainingOverTime"
          [questionId]="burn.metaQuestionId"
          [closuresOverTime]="tag.closuresOverTime" [deletionsOverTime]="tag.deletionsOverTime"
          [retagsOverTime]="tag.retagsOverTime" [roombasOverTime]="tag.roombasOverTime"
          [featuredStarted]="burn.featuredStarted" [featuredEnded]="burn.featuredEnded" [burnStarted]="burn.burnStarted"
          [burnEnded]="burn.burnEnded">

        </app-question-count-graph>

        <h2>User Activity</h2>
        <div *ngIf="tag.chart" [chart]="tag.chart"></div>

        <ng-container *ngIf="tag.userGrandTotals && tag.userGrandTotals.length">
          <h2>User grand totals</h2>

          <input type="checkbox" id="{{tag.tag}}-userGrandTotalShowAll" [(ngModel)]="tag.userGrandTotalShowAll"
            [ngModelOptions]="{standalone: true}">
          <label class="show-checkbox" for="{{tag.tag}}-userGrandTotalShowAll">Show all</label>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width:85%">User</th>
                  <th style="width:15%">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tag.userGrandTotals | sortAscending: 'total'; let i=index">
                  <ng-container *ngIf="tag.userGrandTotalShowAll || i < 10">
                    <td>
                      <app-render-username [user]="row" [warnEditPrivileges]="isModerator"></app-render-username>
                    </td>
                    <td>{{row.total}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <ng-container *ngIf="tag.userTotals && tag.userTotals.length">
          <h2>User total breakdown</h2>
          <input type="checkbox" id="{{tag.tag}}-userBreakdownShowAll" [(ngModel)]="tag.userBreakdownShowAll"
            [ngModelOptions]="{standalone: true}">
          <label class="show-checkbox" for="{{tag.tag}}-userBreakdownShowAll">Show all</label>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70%">User</th>
                  <th style="width: 15%">Type</th>
                  <th style="width: 15%">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tag.userTotals | sortAscending: 'total'; let i=index">
                  <ng-container *ngIf="tag.userBreakdownShowAll || i < 10">
                    <td>
                      <app-render-username [user]="row" [warnEditPrivileges]="isModerator"></app-render-username>
                    </td>
                    <td>{{row.type}}</td>
                    <td>{{row.total}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>