.post-tag {
    display: inline-block;

    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;

    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    font-size: 12px;
}

.post-tag {
    background-color: #ececec;
    border-color: #ececec;
}
.post-tag > a {
    color: #212529;
}
.post-tag > a:hover {
    text-decoration: none;
}

.perma-link > img {
    width: 20px;
    height: 20px;
}

.show-checkbox {
    margin-left: 5px;
}